[user]
	name = Bendi11
	email = bkliebmann@gmail.com
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[merge]
	tool = nvim -d
[core]
	editor = nvim
[http]
	postBuffer = 157286400
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
